<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title"><%= controller.action_name.titleize %> <%= controller_name.titleize %></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= simple_form_for @offer do |f| %>

            <% if offer.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

                <ul>
                  <% offer.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <form role="form" style="padding-bottom:200px">
              <!-- text input -->
              <div class="form-group">
                <%= f.label :advertiser_name %>
                <%= f.text_field :advertiser_name, id: :offer_advertiser_name, class:'form-control'%>
              </div>
              <div class="form-group">
                <%= f.label :url %>
                <%= f.text_field :url, id: :offer_url, class:'form-control'%>
              </div>
              <!-- textarea -->
              <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, id: :offer_description, class:'form-control'%>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <%= f.label :starts_at %>
                  <%= f.datetime_select :starts_at, id: :offer_starts_at, class:'form-control' %>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <%= f.label :ends_at %>
                  <%= f.datetime_select :ends_at, id: :offer_ends_at, class:'form-control' %>
                </div>
              </div></div>

              <!-- checkbox -->
              <div class="form-group">
                <%= f.check_box :premium, id: :offer_premium, class:'checkbox' %>
                <%= f.label :premium %>
              </div>

            <div class="actions">
              <%= f.submit :label => 'Submit', :class => "btn btn-block btn-primary btn-sm" %>
            </div>

            </form>
          <% end %>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
