<!-- CONTENT  ----------------------------------------------------------------------------------------- -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Available Offers
      <small>Now let's get in-formation!</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Offers</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Info boxes -->
    <% if @offers.order(premium: :desc).count==0 %>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h1>
          <span class="label bg-danger">No offers enabled at the time!</span>
        </h1>
      </div>
    </div><br/>
    <% end %>

    <div class="row">
      <% @offers.order(premium: :desc).each do |offer| %>
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="info-box">
                <a href="<%=offer.url %>">
                  <%= image_tag offer.url, size:'80x80', class:'info-box-icon bg-aqua' %>
                  <% if offer.premium? %>
                    <small class="label pull-right bg-red">Premium</small>
                  <% end %>
                  <div class="info-box-content">
                    <span class="info-box-number"><%=offer.advertiser_name%></span>
                    <span class="progress-description"><%=offer.description%></span>
                    <span class="info-box-text">Offer ends <%=offer.ends_at.strftime("%d/%m/%Y %H:%m")%></span>
                  </div>
                  <!-- /.info-box-content -->
                </a>
              </div>
              <!-- /.info-box -->
          </div>
          <!-- /.col -->
      <% end %>

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>

    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-12">
        <div class="box">

          <div class="box-body">
            <div class="row">

              <div class="col-md-6 col-sm-offset-3">
                <p class="text-center">
                  <strong>Goal Completion</strong>
                </p>

                <div class="progress-group">
                  <span class="progress-text">Add Products to Cart</span>
                  <span class="progress-number"><b>160</b>/200</span>

                  <div class="progress sm">
                    <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                  </div>
                </div>
                <!-- /.progress-group -->
                <div class="progress-group">
                  <span class="progress-text">Complete Purchase</span>
                  <span class="progress-number"><b>310</b>/400</span>

                  <div class="progress sm">
                    <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                  </div>
                </div>
                <!-- /.progress-group -->
                <div class="progress-group">
                  <span class="progress-text">Visit Premium Page</span>
                  <span class="progress-number"><b>480</b>/800</span>

                  <div class="progress sm">
                    <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                  </div>
                </div>
                <!-- /.progress-group -->
                <div class="progress-group">
                  <span class="progress-text">Send Inquiries</span>
                  <span class="progress-number"><b>250</b>/500</span>

                  <div class="progress sm">
                    <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                  </div>
                </div>
                <!-- /.progress-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- ./box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- --------------------------------------------------------------------------------------------------- -->